html {
    text-align: center;
    
}

#blinding {
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 100%;
}

#bang {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fadingTime {
    animation-duration: 4s;
    animation-name: fadeToBlack;
    animation-fill-mode: forwards;
}

@keyframes fadeToBlack {
    25% {
        background-color: rgb(255, 255, 255);
    }

    50% {
        background-color: rgb(168, 165, 165);
    }

    75% {
        background-color: rgb(88, 88, 88);
    }

    100% {
        background-color: rgb(0, 0, 0);
    }
}