#introtext {
    color: yellow;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
}

#mainbody {
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#bodyHeaderText {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
