#introtext {
    color: rgb(253, 253, 253);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.8vw;
}

#mainbody {
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#bodyHeaderText {
    font-size: 1.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 0, 0);
}

#mainbodyText {
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 0.9vw;
}

p {
    max-width: 120ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}