#topnav {
    overflow:hidden;
    background-color: black;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
#topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
#topnav a.active {
    background-color: #04AA6D;
    color: white;
}

form {
    margin: 0 auto;
    margin-top: 10%;
    width: 400px;
}

#endInput {
    margin: 0 auto;
    margin-left: 25%;
    color: black;
}

legend {
    text-align: center;
}

#formbody {
    background-color: black;
    color: lightblue
}

#randomPage {
    margin-left: 43%;
}