form {
    margin: 0 auto;
    margin-top: 10%;
    width: 400px;
}

#endInput {
    margin: 0 auto;
    margin-left: 25%;
    color: black;
}

legend {
    text-align: center;
}

#formbody {
    background-color: #80ff00;
    color: #FFF01f
}

#randomPage {
    margin-left: 43%;
}