.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    color:black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    flex: 33%;
    padding: 50px;
    font-size: 30px;
    text-align: center;
}
#storeBody {
    background-color: black;
    color: white;
}
#disclaimer {
    font-size: .3vw;
}